body{
    background-image: url(../Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.encabezado{
    margin: 30px 20px 0px 0px;
    text-align: center;
}
main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}
.input-texto{
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
    margin: 10px 0px 5px 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 40px;
    font-size: 14px;
    line-height: 10px;
    border-radius: 14px;
}
.advertencia{
    padding: 5px;
    margin: 2px 2px 05px 2px;
    display: flex;
    width:100%;
    height: 5px;
    text-align: center;
    font: bold;
    font-size: 14px;
    color:#75f300
}

.signo{
    width: 14px;
    height: 14px;
    background: #87eb04;
}

.encriptar{
    padding: 5px;
    margin: 5px 0px 0px 10px;
    border-radius: 15px;
    border-color: rgb(238, 220, 57);
    background: #07b810;
    font-size: 14px;
}

.desencriptar{
    padding: 5px;
    margin-left: 30px;
    border-radius: 15px;
    border-color: blue;
    background: #37eee5;
    font-size: 14px;
}

.mensaje{
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
    margin: 10px 0 0 50px;
    background-image: url(../Imagenes/Munheco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    line-height: 10px;
    border-radius: 14px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 14px;
}

.copiar{
    padding: 5px;
    text-align: center;
    position: relative;
    margin: 37px 0px 0px 120px;
    border-radius: 15px; 
    background: #0491f5;
    font-size: 14px;
}
